# Ignorer les fichiers systèmes
.DS_Store
Thumbs.db

# Ignorer les gros fichiers de base de données
*.sql
*.sqlite
*.db
*.dump
*.zip
node_modules/
data/mongo
data/sqlite
data/csv
mongodb-macos-x86_64-7.0.5
mongodb-macos-x86_64-7.0.5.tgz